
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
  background-color: #FDF0E4;
  line-height: 1;
}
  
header{
  display: flex;
  /*justify-content: space-between;*/
  align-items: center;
  padding: 20px 15%;
  background-color: #BB2525;
  position: relative;
}
  
header nav {
  margin: auto;
}
  
header nav ul li {
  background-color: #F9DEC9;
  list-style: none;
  float: left;
  padding: 14px 20px;
  cursor: pointer;
}
header nav ul li:first-child {
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
}
header nav ul li:last-child {
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
}
header nav ul li a {
  text-decoration: none;
  color: #000000;
  font-weight: 600;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header nav ul li:hover{
  color: #BB2525;
}
  
.validation {
  display: flex;
  background-color: #F9DEC9;
  border-radius: 60px;
  align-items: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 10px;
  right: 30px;
}
  
.validation hr {
  height: 10px;
  border: 1px solid rgba(0, 0, 0, 0.70);
}
  
.validation span {
  padding: 6px 14px;
  font-size: 14px;
  text-transform: uppercase;
}
  
header .logo{
  position: absolute;
  top: 25px;
  left:25px;
}
  
/*----------------Body-----------------*/

.container{
  display: flex;
  justify-content: space-between;
  min-height: 200px;
}
  
.container .right-content{
  width:50%;
}

.container .left-content{
  width:50%;
}
 
.top-content{
  border: 5px solid #F9DEC9;
  background: #F9DEC9;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); 
}
 
.text-center{
  text-align: center;
  width: 100%;
}

td{
  padding:0;
}

.seat-map .screen{
  font-family: 'Futurab';
  font-weight: normal;
  font-size: 24px;
  color: #fff;
  display: block;
  background-color: #969696;
  text-transform: uppercase;
  border: 1px solid #fff;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  line-height: 42px;
  box-shadow: 5px 5px 0 rgba(0,0,0,0.1);
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: 20px;
}

.standard{
  padding: 8px;  
  color: rgba(0, 0, 0, 0.50); 
  text-align: center; 
  font-family: Inter;
  font-size: 20px;
  font-style: normal; 
  font-weight: 700; 
  line-height: normal;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.25);  
  width:35px;
}

.vip{
  padding: 8px;  
  color: rgba(0, 0, 0, 0.50); 
  text-align: center; 
  font-family: Inter;
  font-size: 20px;
  font-style: normal; 
  font-weight: 700; 
  line-height: normal;
  border-radius: 3px;
  background: rgba(61, 12, 17, 0.48);  
  width:35px;
}

.sweetbox{
  padding: 8px;  
  color: rgba(0, 0, 0, 0.50); 
  text-align: center; 
  font-family: Inter;
  font-size: 20px;
  font-style: normal; 
  font-weight: 700; 
  line-height: normal;
  border-radius: 3px;
  background: rgba(20, 30, 70, 0.67); 
  width:70px;
}

.iconlist1 {
  display: inline-block;
  min-width: 25%;
  vertical-align:top;
  position: absolute;
  margin-top: 360px;
  margin-left: 200px;
}

.iconlist2 {
  display: inline-block;
  min-width: 25%;
  vertical-align:top;
  position: absolute;
  margin-top: 360px;
  margin-left: 450px;
}

.showtime{
  display: inline-block;
  min-width: 25%;
  vertical-align:top;
  margin-top: 500px;
  margin-left: 120px;
}

h4{
  color: #872341;
  text-align: left;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.showtime-container{
  display: flex;
}

.showtime-container .date{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 100px;
  height: 60%;
  border-radius: 10px;
  border: 2px solid rgba(187, 37, 37, 0.75);  
  color: rgba(187, 37, 37, 0.75);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  background-color: rgb(236, 246, 249);
}

.showtime-container input:checked + span {
  background-color:darkblue;
  color: #fff;
}

.showtime-container .input{
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.info {
  margin-top: 20px;
  margin-left: 30px;
  display: inline-block;
  width: 455px;
}
.ticket-info {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  padding-top: 15px;
  background: rgba(255, 255, 255, 1);
}
.ticket-info1{
  flex: 0 0 auto;
  padding-right: 6px;
  padding-left: 6px;
}
.ticket-info2{
    padding-right: 11px;
    padding-left: 11px;
    margin-top: 8.5px;
}
.ticket-info3 {
  padding-right: 12px;
  padding-left: 12px;
  margin-top: 8.5px;
}
.ticket-info-heading {
  box-sizing: border-box;
  max-width: 214px;
  font: 700 20px Inter;
  color: rgba(0, 0, 0, 1);
  text-align: center;
}
.line {
  box-sizing: border-box;
  width: 416px;
  border-top: 1px solid rgba(0, 0, 0, 0.6);
}
.seat-selection-text {
  font: 400 15px Inter;
  color: rgba(0, 0, 0, 1);
  padding-bottom: 15px;
}

.total{
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  padding-right: 21px;
  padding-left: 18px;
  margin-top: 0;
  background: rgba(0, 0, 0, 0.5);
}

.total-amount {
  flex: 0 0 auto;
  font: 700 15px Inter;
  color: rgba(255, 255, 255, 1);
}

.amount {
  flex: 0 0 auto;
  font: 700 15px Inter;
  color: rgba(255, 255, 255, 1);
}

.nextbtn button {
  box-sizing: border-box;
  display: block;
  flex: 0 0 auto;
  width: 455px;
  height: 48px;
  margin-top: 22px;
  font: 700 20px Inter;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
  background: rgba(101, 177, 25, 0.71);
  border: none;
}

.bottom-content{
  background-color: rgba(187, 37, 37, 0.30);
}

.format-bg-top {
  width: 100%;
  background: url(https://www.cgv.vn/skin/frontend/cgv/default/images/bg-cgv/bg-top-seatmap.png) repeat-x top left transparent;
  height: 8px;
  overflow: hidden;
}

ul li{
  list-style: none;
}
.minicart-wrapper{
  padding-left: 120px;
  font-size: 0;
  color: #000000;
  width: 750px;
  display: inline-block;
  margin: 0 3px;
}

.minicart-wrapper .item {
  display: inline-block;
  margin-left: 1%;
  font-size: 20px;
}
.minicart-wrapper .product-detail {
  padding-top: 10px;
  display: inline-block;
  vertical-align: top;
  margin: 0 0 0 10px;
}
.info-wrapper img {
  width: 74px;
  height: 108px;
  display: inline-block;
}
.info-wrapper td {
    padding: 3px;
    font-weight: normal;
    white-space: normal;
    vertical-align: top;
}
.info-wrapper td.label {
  font-weight: bold;
}
.format-bg-bottom {
  width: 100%;
  background: url(https://www.cgv.vn/skin/frontend/cgv/default/images/bg-cgv/bg-bottom-seatmap.png) repeat-x bottom left transparent;
  height: 8px;
  overflow: hidden;
}
/*-------------Footer---------------*/
  footer{
    padding-top: 15px;
    position: relative;
    background: #FDF0E4;
    width: 100%;
    bottom: 0;
    left: 0;
    min-height: 200px;
  }
  footer::before{
    content: '';
    position: absolute;
    left: 0;
    top: 60px;
    height: 2px;
    width: 100%;
    background: #BB2525;
  }
  
  footer-content{
    max-width: 1250px;
    margin: auto;
    padding: 20px 30px 30px 20px;
  }
  
  footer .content .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  .content .top .logo-details{
    padding-left:100px;
  
  }
  .content .top .media-icons{
    display: flex;
    justify-content: space-between;
  }
  
  .content .top .media-icons a{
    height: 40px;
    width:40px;
    margin: 0 8px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color:#ffffff;
    font-size: 17px;
    text-decoration: none;
    transition: all 0.4s ease;
  }
  
  .top .media-icons a:nth-child(1){
    background:#4267B2;
  }
  .top .media-icons a:nth-child(1):hover{
    color:#4267B2;
    background: #ffffff;
  }
  .top .media-icons a:nth-child(2){
    background:#e1306c;
  }
  .top .media-icons a:nth-child(2):hover{
    background:#e1306c;
    background: #ffffff;
  }
  .top .media-icons a:nth-child(3){
    background:#ff0000;
  }
  .top .media-icons a:nth-child(3):hover{
    background:#ff0000;
    background: #ffffff;
  }
  
  
  footer .content .bottom{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3.5rem;
    padding: 10px;
  }
  
  .content .bottom .link-boxes:first-child{
    padding-left: 100px;
  }
  .content .bottom .link-boxes:last-child{
    padding-right: 100px;
  }
  .bottom .link-boxes h4{
    color:#000000;
    font-size: 1.2rem;
    font-weight: 400;
  }
  
  .link-boxes .box{
    margin-top: 5px;
  }
  
  .link-boxes .box li{
    list-style: none;
    margin-bottom: 5px;
    cursor: pointer;
  }
  
  .link-boxes .box li a{
    text-decoration: none;
    color: #000000;
    font-size: 15px;
  }
  
  .link-boxes .box li a:hover{
    text-decoration: none;
    color: #BB2525;
  }
  
  .all-seats .standard:has(input:checked) {
    background: #65B119
  }

  .all-seats .vip:has(input:checked) {
    background: #65B119
  }

  .all-seats .sweetbox:has(input:checked) {
    background: #65B119
  }

  input {
    display: none;
  }

  .listslot {
    margin-bottom: 1em;
    padding: .25em;
    border: 0;
    border-bottom: 2px solid currentcolor; 
    font-weight: bold;
    font-size: large;
    letter-spacing: .15em;
    border-radius: 0;
    &:focus, &:active {
      outline: 0;
      border-bottom-color: red;
    }
  }