
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.validation a:link {
  color: rgb(0, 0, 0); /* Màu mặc định cho liên kết chưa truy cập */
  text-decoration: none; /* Loại bỏ gạch chân mặc định */
}

/* Liên kết trong trạng thái đã truy cập */
.validation a:visited {
  color: rgb(0, 0, 0); /* Màu cho liên kết đã truy cập */
  text-decoration: none; /* Loại bỏ gạch chân */
}

body{
  background-color: #FDF0E4;
  line-height: 1;
}

header{
  display: flex;
  /*justify-content: space-between;*/
  align-items: center;
  padding: 20px 15%;
  background-color: #BB2525;
  position: relative;
  justify-content: center;
  align-items: center;
}

header nav {
  margin: auto;
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav ul li {
  background-color: #F9DEC9;
  list-style: none;
  float: left;
  padding: 15px 15px;
  cursor: pointer;
  font-size: clamp(0.5rem, 0.234rem + 0.8511vw, 1rem);
}

header nav ul li:first-child {
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
}
header nav ul li:last-child {
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
}
header nav ul li a {
  text-decoration: none;
  color: #000000;
  font-weight: 600;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header nav ul li:hover{
  color: #BB2525;
}
.validation {
  display: flex;
  background-color: #F9DEC9;
  border-radius: 60px;
  align-items: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 10px;
  right: 30px;
}

.validation hr {
  height: 10px;
  border: 1px solid rgba(0, 0, 0, 0.70);
}

.validation span {
  padding: 6px 14px;
  font-size: 14px;
  text-transform: uppercase;
}

header .logo{
  position: absolute;
  top: 25px;
  left:25px;
}

nav ul{
  list-style: none;
  background: #BB2525;
}

nav ul li{
  display: inline-block;
  position: relative;
}

nav ul li a{
  display: block;
  color: #000000;
  text-decoration: none;
  text-align: left;
  
}

nav ul li ul.dropdown li{
  display: block;
  background: #F9DEC9;
  width: 200px;
  height: 20px;
  border-radius: 0%;
  align-items: center;
  display: flex;
}

nav ul li ul.dropdown{
  margin-top: 14px;
  width: 205px;
  background: #BB2525;
  position: absolute;
  z-index: 2;
  display: none;
  border-radius: 0px;
  border: 3px double #BB2525;
  left: -3%;
}

nav ul li a:hover{
  color: #BB2525;
}

nav ul li:hover ul.dropdown{
  display: block;
}

 label{
  display: none ;
 }

 input[type="checkbox"] {
  appearance: none;
}
@media screen and (max-width: 980px) {

  header{
    height: 80px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  label{
    display: block;
  }

  nav{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 20px;
    right: 0px;
    padding: 15px;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease;
  }

  nav ul li a, nav label{
    color: #faddc5;
  }

  nav label{
    text-align: right;
  }

  header nav ul{
    display: flex;
    flex-direction: column;
    z-index: 5;
  }

  input:checked ~ nav{
    visibility: visible;
    opacity: 1;
  }

  header nav ul li {
  background-color: #BB2525;
  font-size: 15px;
}

  header nav ul li a {
  color:#f9dec9;
  padding: 5px 30px;
}

header nav ul li a:hover {
  color:#ffffff;
}

nav ul li ul.dropdown{
  width: 235px;
  top: 40%;
  left: 50%;
}

nav ul li ul.dropdown li{
  display: block;
  width: 230px;
  height: 20px;
  border-radius: 0%;
  align-items: center;
  display: flex;
  padding: 20px 10px;
}

nav ul li:hover ul.dropdown a{
  color: rgb(55, 52, 52);
}

nav ul li:hover ul.dropdown a:hover{
  display: block;
  color: #BB2525;
}

}
  
  /*-----------------------------Body-------------------------------------*/
  /*---------------- banner-----------------*/
  .banner{
  width: 100%;
  overflow: hidden;
  }
  
  .banner-slider{
  width: 100%;
  height: 400px;
  display: flex;
  }
  
  .banner-img img{
  object-fit: cover;
  width: 100%;
  height: 100%;
  align-content: center;
  }
  
  .slick-dots{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -30px);
  display: flex !important;
  align-items: center;
  justify-content: center;
  gap: 0 20px;
  list-style: none ;
  margin: 0;
  }
  
  .slick-dots button{
  font-size: 0;
  width: 15px;
  height: 15px;
  border-radius: 100rem;
  background-color: #faddc544;
  border: 1px solid #BB2525;
  transition: all 0.2s linear;
  }
  
  .slick-dots .slick-active button {
  background-color: #BB2525;
  border: 1px solid #faddc5;
  }
  


  /*---------------------- film ----------------- */
  .film-heading h2{
    font-weight: 700;
    margin: 0px;
    margin-top: 30px;
    padding: 20px 40px;
    font-size: 2.5rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 100%;
    color: #c80303;
  }

  .film-heading .film-link a{
    color: #8b8b8b;
    width: 300px;
    height: 40px;
    border: none;
    outline: none;
    text-decoration: none;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
  }
 
  .film-heading{
    display: flex;
    margin: 0px 2%;
  }

  .film-box{
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
    margin: 20px;
    overflow: hidden;
    border-radius: 10px;
  }

  .film-img{
    width: 100%;
    height: 300px;
    position: relative;
  }

  .film-img img{
    width: 100%;
    object-fit: cover;
  }

  .film-box a{
    text-align: center;
    display: block;
    font-weight: 600;
    display: -webkit-box;
    max-width: 80%;
    -webkit-line-clamp: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #7a0000;
    margin: 20px;
  }

  .film-box:hover{
    transform: scale(1.07);    
    transition: ease-in-out 0.3s;
    background-color: #ffe7d4;
  }

  #film-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .rating{
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #BB2525;
    color: #F9DEC9;
    padding : 5px 20px;
    font-weight: 500;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.25);
  }

  .btns{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btns a{
    width: 100px;
    height: 40px;
    border: none;
    outline: none;
    text-decoration: none;
    color: #ffffff;
    background-color: #a80404ea;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    border-radius: 20px;
  }

  .btns a:hover{
    background-color: #7a0000;
  }
  
  /*-------------Footer---------------*/
  .footblank{
    height: 100px;
  }
  
  footer{
    position: relative;
    background: #FDF0E4;
    width: 100%;
    bottom: 0;
    left: 0;
    min-height: 200px;
  
  }
  footer::before{
    content: '';
    position: absolute;
    left: 0;
    top: 60px;
    height: 2px;
    width: 100%;
    background: #BB2525;
  }
  
  footer-content{
    max-width: 1250px;
    margin: auto;
    padding: 20px 30px 30px 20px;
  }
  
  footer .content .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  .content .top .logo-details{
    padding-left:100px;
  
  }
  .content .top .media-icons{
    display: flex;
    justify-content: space-between;
  }
  
  .content .top .media-icons a{
    height: 40px;
    width:40px;
    margin: 0 8px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color:#ffffff;
    font-size: 17px;
    text-decoration: none;
    transition: all 0.4s ease;
  }
  
  .top .media-icons a:nth-child(1){
    background:#4267B2;
  }
  .top .media-icons a:nth-child(1):hover{
    color:#4267B2;
    background: #ffffff;
  }
  .top .media-icons a:nth-child(2){
    background:#e1306c;
  }
  .top .media-icons a:nth-child(2):hover{
    background:#e1306c;
    background: #ffffff;
  }
  .top .media-icons a:nth-child(3){
    background:#ff0000;
  }
  .top .media-icons a:nth-child(3):hover{
    background:#ff0000;
    background: #ffffff;
  }
  
  footer .content .bottom{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3.5rem;
    padding: 10px;
  }
  
  .content .bottom .link-boxes:first-child{
    padding-left: 100px;
  }
  .content .bottom .link-boxes:last-child{
    padding-right: 100px;
  }
  .bottom .link-boxes h4{
    color:#000000;
    font-size: 1.2rem;
    font-weight: 400;
  }
  
  .link-boxes .box{
    margin-top: 5px;
  }
  
  .link-boxes .box li{
    list-style: none;
    margin-bottom: 5px;
    cursor: pointer;
  }
  
  .link-boxes .box li a{
    text-decoration: none;
    color: #000000;
    font-size: 15px;
  }
  
  .link-boxes .box li a:hover{
    text-decoration: none;
    color: #BB2525;
  }
  
  body {
    margin: 0;
    padding: 0;
    overflow: auto;
    transition: transform 0.3s ease-in-out;
  }
  
  @media screen and (min-width: 1100px) and (max-width: 1200px)  {
    body {
        transform: scale(0.9);
    }
  
    .banner{
      height: 380px;
    }
  }
  
  @media screen and (min-width: 1001px) and (max-width: 1100px)  {
    body {
        transform: scale(0.9);
    }
    
    .banner{
      height: 330px;
    }
  }
  
  @media screen and (min-width: 801px) and (max-width: 1000px) {
    body {
        transform: scale(0.9);
    }
  }
  
  @media screen and (min-width: 601px) and (max-width: 800px) {
    body {
        transform: scale(0.9);
    }
  }
  
  @media screen and (max-width: 600px) {
    body {
        transform: scale(0.9);
    }
  
    .banner{
      height: 200px;
    }
  }
  
  @media screen and (min-width: 901px) and (max-width: 1000px) {
    body {
        transform: scale(0.9);
    }
    
    .banner{
      height: 300px;
    }
  }
  
  @media screen and (min-width: 801px) and (max-width: 900px) {
    body {
        transform: scale(0.9);
    }
    
    .banner{
      height: 280px;
    }
  }
  
  @media screen and (min-width: 701px) and (max-width: 800px) {
    body {
        transform: scale(0.9);
    }
    
    .banner{
      height: 250px;
    }
  }
  
  @media screen and (min-width: 601px) and (max-width: 700px) {
    body {
        transform: scale(0.9);
    }
    
    .banner{
      height: 230px;
    }
  }